/*
    ÁREA RESPONSIVA TABLET ↴
*/

@media (min-width: 450px) and (max-width: 800px) { 
    
    /*
        ÁREA MENU ↴
    */

    .logo {
        margin-top: 14px;
    }

    .logo img {
        width: 160px;
        height: 160px;
    }

    .menu_mobile {
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    
    nav {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0 , 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: none;
    }

    .menu li.active a {
        border: none;
        color: #b28756;
    }

    /*
        ÁREA SOBRE NÓS ↴
    */

    .section_aboutus {
        flex-direction: column;
    }

    .section_aboutus_left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section_aboutus_right {
        width: auto;
    }

    .section_aboutus_left .button {
       margin-left: 300px;
    }

    /*
        ÁREA SERVIÇOS ↴
    */

    .section_services {
        flex-wrap: wrap;
    }

    .section_service {
        min-width: 50%;
    }

    /*
        ÁREA NOSSO TIME ↴
    */

    .section_team {
        max-width: 580px;
    }

    /*
        ÁREA EMPRESAS ↴
    */

    .section_company {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    }

    /*
        ÁREA PREÇOS ↴
    */

    .section_price_area .sliders {
        max-width: 800px;
        flex-wrap: wrap;
        padding-left: 105px;
    }

    .section_price_area .slide {
        margin-top: 30px;
    }
  
    /*
        ÁREA PREMIUM ↴
    */

    .section_premium {
        flex-direction: column;
    }

    .section_premium_img {
        padding-left: 120px;
    }

    .section_premium_text {
        padding-left: 250px;
    }

    .button_premium {
        margin-left: 290px;
    }

    /*
        ÁREA ALGUNS FATOS ↴
    */

    .section_fact {
        min-width: 50%;
    }

    .section_facts {
        flex-wrap: wrap;
    }

    .border_fact {
        margin-left: 161px;
    }
    
    /*
        ÁREA CONTATE-NOS ↴
    */

    .button_message {
        margin-left: 280px;
    }

    /*
        ÁREA MAPA↴
    */

    .section_map_info {
        width: 90%;
        padding: 30px;
        margin-left: -60px;
    }

    /*
        ÁREA FOOTER↴
    */

    .section_social_media_footer {
        flex-direction: column;
        padding-right: 10px;
        padding-top: 15px;
        padding-left: 50px;
    }

    .section_twitter, .section_linkedin, .section_facebook, .section_google_plus {
        padding-bottom: 10px;
    }

    .section_footer_text {
        min-width: 300px;
    }

    .section_footer_subscribe {
        margin-left: 40px;
        margin-right: 35px;
        margin-top: 20px;
    }

    .section_footer_copy {
        text-align: right;
        margin-right: 115px;
    }

}

/*
    ÁREA RESPONSIVA CELULAR ↴
*/

@media (max-width: 450px) { 
    
    /*
        ÁREA MENU ↴
    */

    .logo {
        margin-top: 14px;
    }

    .logo img {
        width: 160px;
        height: 160px;
    }

    .menu_mobile {
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    
    nav {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0 , 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: none;
    }

    .menu li.active a {
        border: none;
        color: #b28756;
    }

    /*
        ÁREA BANNER ↴
    */

    .banner h1 {
        font-size: 40px;
    }

    /*
        ÁREA SOBRE NÓS ↴
    */

    .section_aboutus {
        flex-direction: column;
    }

    .section_aboutus_left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .section_aboutus_right {
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section_aboutus_right img {
        width: 100%;
    }

    .section_aboutus_left .button {
       margin-left: 90px;
    }

    /*
        ÁREA SERVIÇOS ↴
    */

    .section_services {
        flex-wrap: wrap;
    }

    .section_service {
        min-width: 100%;
    }

    .section_service h4, .section_service p {
        max-width: 300px;
        padding-left: 50px;
    }

    /*
        ÁREA NOSSOS PROJETOS ↴
    */

    .section_projects_filters li{
        padding: 8px;
    }

    .section_projects_filters {
        margin-left: 30px;
        margin-right: 30px;
    }

    .section_projects_photo {
        width: 320px;
    }

    .section_projects_photoarea {
        width: 300px;
        height: 190px;
    }

    /*
        ÁREA NOSSO TIME ↴
    */

    .section_team  {
        max-width: 280px;
    }

    /*
        ÁREA CLIENTES FELIZES↴
    */

    .section_text {
        max-width: 300px;
    }

    /*
        ÁREA EMPRESAS ↴
    */

    .section_company {
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    /*
        ÁREA PREÇOS ↴
    */

    .section_price_area .sliders {
        max-width: 300px;
        flex-wrap: wrap;
        padding-left: 55px;
    }

    .section_price_area .slide {
        margin-top: 30px;
    }
  
    /*
        ÁREA PREMIUM ↴
    */

    .section_premium {
        flex-direction: column;
        max-width: 300px;
    }

    .section_premium_img {
        padding-left: 35px;
    }

    .section_premium_img img {
        width: 250px;
        height: 250px;
        padding-top: 0;
    }

    .button_premium {
        margin-left: 90px;
    }

    /*
        ÁREA ALGUNS FATOS ↴
    */

    .section_fact {
        min-width: 100%;
    }

    .section_facts {
        flex-wrap: wrap;
    }

    .border_fact {
        margin-left: 152px;
    }

    /*
        ÁREA SOBRE NOS ↴
    */

    section .default.light.about {
        background-color: #FFF;
        border-bottom: 1px solid #CCC;
        padding: 30px;
        padding-top: 20px;
    }

    .section_social_media {
        display: flex;
        justify-content: center;
    }
    

    .section_social_media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        border-radius: 13px;
        margin-left: 20px;
        text-decoration: none;
    }
    

    .section_social_media img {
        width: 10px;
        height: 10px;
    }
    
    .share2 {
        display: flex;
        padding-left: 112px;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-size: 10px;
        color: #999;
        font-weight: 600;
    }

    .share {
        display: none;
    }
    
    .share img, .share2 img {
        display: none;
    }

    .section_aboutus_social_media .visit {
        color: gray;
        margin-top: 5px;
        font-size: 11px;
        font-weight: 600;
        margin-left: 24px;
    }
    
    /*
        ÁREA CONTATE-NOS ↴
    */

    .section_input {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nome, .email, .assunto, .mensagem {
        margin: 30px;
        padding: 0;
        padding-bottom: 7px;
    }

    .mensagem {
        margin-bottom: 0;
    }

    .button_message {
        margin-left: 90px;
    }

    /*
        ÁREA MAPA↴
    */

    .section_map {
        padding: 0;
        margin: 0;
        padding-bottom: 250px;
    }

    .section_map_info {
        width: 100%;
        padding: 30px;
        margin-left: -100px;
    }

    /*
        ÁREA FOOTER↴
    */

    .default.dark.footer {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .section_social_media_footer {
        display: flex;
        flex-direction: row;
        padding-right: 10px;
        padding-top: 200px;
        padding-bottom: 250px;
        padding-left: 80px;
    }

    .section_twitter, .section_linkedin, .section_facebook, .section_google_plus {
        margin-left: 10px;
    }

    .section_pinterest {
        margin-left: 10px;
    }

    .section_footer_text {
        position: absolute;
        flex-wrap: wrap;
        margin-top: 250px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .section_footer_subscribe {
        position: absolute;
        margin-left: 40px;
        margin-right: 35px;
        margin-top: 5px;
    }

    .section_footer_copy {
        text-align: right;
        margin-right: 130px;
    }

}