.contate-nos form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contate-nos input, .contate-nos textarea {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.125rem solid #b6b6b6;
  outline: none;
  padding: 0.625rem;
  margin: 1.25rem;
  width: 39vw;
}

.contate-nos input::placeholder, .contate-nos textarea::placeholder {
  text-transform: uppercase;
  color: #b6b6b6;
}

.nome-email input {
  width: 18vw;
  margin-bottom: 1.875rem;
}

.nome-email input[type="text"] {
  margin-right: 0.9375rem;
}

.section_map {
  background-image: url("../image/mapa.webp");
  background-position: center;
  background-size: cover;
  padding: 1.875rem 0 1.875rem 0;
  margin:  auto;
}

.section_map_area {
  width: 100vw;
  max-width: 71.25rem;
  margin-left: 6.25rem;
}

.section_map_info {
  width: 40%;
  padding: 1.875rem;
  background-color: #FFF;
  color: black;
}

.section_map_info_item {
  display: flex;
  align-items: center;
  color: #999;
  margin-bottom: 0.625rem;
}

.section_map_info_item_img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  width: 1.875rem;
  padding: 0.3125rem;
  background-color: #999;
  border-radius: 0.9375rem;
  margin-right: 0.9375rem;
}

.section_map_info_item_img img {
  width: 1.125rem;
  height: auto;
}

@media (min-width: 320px) and (max-width: 425px) { 
  .contate-nos input, .contate-nos textarea, .nome-email input {
    display: flex;
    width: 80vw;
    flex-direction: column;
  }

  .nome-email input:nth-child(1) {
    margin-bottom: 2.5rem;
  }

  .section_map {
    padding: 0 0 15.625rem 0;
    margin: 0;
  }

  .section_map_info {
    width: 100%;
    padding: 1.875rem;
    margin-left: -6.25rem;
    overflow-x: hidden;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .nome-email input {
    width: 30vw !important;
  }

  .contate-nos input, .contate-nos textarea {
    width: 66vw;
  }
}