.default.dark.footer {
  width: 100vw;
  height: 35vh;
  padding: 1.875rem 0 0 0;
}

.section_social_media_footer {
  display: flex;
  padding-left: 5.625rem;
}

.twitter_footer, .linkedin_footer, .facebook_footer, .google_plus_footer, .pinterest_footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 0.8125rem;
  margin-left: 0.4375rem;
  text-decoration: none;
  background-color: #363636;
}

.section_social_media_footer a:hover {
  background-color: #b28756;
}

.section_footer {
  display: flex;
}

.section_footer_copy {
  color: #FFF;
  font-weight: 600;
  margin: 0 0 1.25rem 6.25rem;
}

.section_footer_text {
  display: flex;
  padding-left: 5rem;
  color: #666666;
  font-weight: 600;
}

.section_footer_subscribe {
  width: 18.75rem;
  height: 10rem;
  background-color: #373737;
  padding: 2.5rem;
  text-align: center;
  margin: 0 5rem 0 5rem;
  border-radius: 0.125rem;
}

.subscribe {
  color: white;
}

.section_footer_email input::placeholder {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 425px) { 
  .default.dark.footer {
    padding: 1.875rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .section_footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .section_social_media_footer {
    padding: 0;
  }

  .section_footer_subscribe {
    margin: 0;
  }

  .section_footer_text {
   padding: 1.25rem 3.75rem;
  }

  .section_footer_copy {
    margin: 1.25rem 30% 0 40%;
  }
}

@media (min-width: 426px) and (max-width: 768px) { 
  .default.dark.footer {
    height: 25vh;
  }

  .section_social_media_footer {
    flex-direction: column;
    padding: 0 0 0 2.5rem;
  }

  .section_twitter, .section_linkedin, .section_facebook, .section_google_plus {
    padding-bottom: 0.625rem;
  }

  .section_footer {
    align-items: center;
  }

  .section_footer_text {
    min-width: 18.75rem;
    padding: 0 0.625rem 0 1.875rem;
  }

  .section_footer_subscribe {
    margin: 0 2.5rem;
}

  .section_footer_copy {
    text-align: right;
    margin: 0.9375rem 7.5rem 0 0;
  }
}