* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Montserrat', Arial, Helvetica, Sans-serif;
  font-size: 0.8125rem;
  overflow-x: hidden;
  flex-wrap: wrap;
}

button {
  border: none;
}

.default {
  padding: 50px 0;
}

.default .section_title, .default .section_desc{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section_title {
  font-size: 1.25rem;
}

.default .section_desc {
  font-size: 0.75rem;
  color: #CCC;
  margin: 0.625rem 0 2.5rem 0;
}

.default .section_body {
  max-width: 71.25rem;
  margin: auto;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section_title, .default.light .section_body {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section_title, .default.dark .section_body {
  color: #FFF;
}

.button:hover {
  background-color: #2E2E2E;
  color: #FFF;
  transform: translateY(-0.4375rem);
}

.button_price:hover {
  transform: translateY(-0.4375rem);
}

:hover {
  transition: all ease 1s;
}