/*
    GERAL ↴
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, Sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/*
    ÁREA DO MENU ↴
*/

header {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin:  auto;
    display: flex;
    color: white;
    align-items: center;
}

.logo img {
    margin-bottom: 17px;
    width: 140px;
    height: 140px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color:  #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover,  .menu .active a {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

/*
    ÁREA DO BANNER ↴
*/

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
    display: flex;
    justify-content: center;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a {
    display: block;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    margin-top: -50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

/*
    FUNDO DAS ÁREAS ↴
*/

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section_title, .default .section_desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section_title {
    font-size: 20px;
}

.default .section_desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section_body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light .section_title, .default.light .section_body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section_title, .default.dark .section_body {
    color: #FFF;
}

/*
    ÁREA SOBRE NÓS ↴
*/

.section_aboutus {
    display: flex;
}

.section_aboutus_left {
    flex: 1;
}

.section_aboutus_left p {
    font-size: 14px;
    line-height: 25px;
}

.section_aboutus_right {
    width: 500px;
    text-align: center;
}

.section_aboutus_right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/*
    ÁREA SOBRE SERVIÇOS ↴
*/

.section_services {
    display: flex;
}

.section_service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section_service:first-child {
    border-left: 1px solid #333;
}

.section_service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section_service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/*
    ÁREA BARRA PROJETOS ↴
*/

.section_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_projects_filters {
    display: inline-block;
    border: 1px solid #CCC;
    background-color: #EDEDED;
    border-radius: 30px;
    padding: 0px 25px;
}

.section_projects_filters ul, .section_projects_filters  li {
    list-style: none;
}

.section_projects_filters li {
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ddd;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section_projects_filters li:hover, .section_projects_filters li.active  {
    border-bottom: 3px solid #b28756;
}

.section_projects_filters li:first-child {
    border-left: 0;
}

/*
    ÁREA FOTOS PROJETOS ↴
*/

.section_projects_photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_projects_photo {
    width: 280px;
}

.section_projects_photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section_projects_photoarea img {
    width: inherit;
    height: inherit;
}

.section_projects_photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
    width: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section_projects_photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.section_projects_photoarea:hover .section_projects_photoinfo{
    display: flex;
}

/*
    ÁREA NOSSO TIME ↴
*/

.team {
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}

.section_team_area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section_team .sliders {
    width: 1000vw;
    height: 100%;
}

.section_team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section_team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section_team_area .sliders_pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.section_team_area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section_team_area .pointer.active {
    background-color: #b28756;
}

.section_team_avatar {
    width: 130px;
    height: auto;
}

.section_team_name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section_team_role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section_team_social {
    display: flex;
    margin-top: 20px;
}

.section_team_social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 13px;
    margin-right: 10px;
}

.section_team_social a:hover {
    background-color: #b28756;
}

/*
    ÁREA CLIENTES FELIZES ↴
*/


section .section_avatar {
    display: flex;
    justify-content: center;
}

section .section_avatar img {
    width: 140px;
    height: auto;
}

section .section_name {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 16px;
}

section .section_role {
    text-align: center;
    font-weight:600;
    padding-top: 5px;
    font-size: 14px;
}

section .section_quote {
    text-align: center;
    padding-top: 30px;
}

section .section_text {
    flex-wrap: wrap;
    margin: auto;
    max-width: 600px;
    padding-top: 10px;
    text-align: center;
    color: #979797;
}

section .sliders_pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

section .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

section .pointer.active {
    background-color: #b28756;
}

/*
    ÁREA LOGO EMPRESAS ↴
*/

section .section_companies {
    display: flex;
    background-color: #FFF;
    justify-content: center;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

section .section_company {
    padding: 30px;
}

/*
    ÁREA PREÇOS ↴
*/

.section_price_area .sliders {
    width: 1000vw;
    height: 100%;
}

.section_price_area .slide {
    width: 270px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section_price_area .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}

.section_price {
    text-align: center;
}
.section_price_title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    padding-top: 25px;
}

.section_price_rs {
    font-weight: bold;
    font-size: 22px;
}

.section_price_sub {
    color:  #999;
    padding-bottom: 15px;
}

.section_price_text {
    padding: 5px;
}

section .button_price {
    display: inline-block;
    background-color: #2E2E2E;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.button_price:hover {
    background-color: #b28756;
}